*{
 margin: 0px;
 padding: 0px;
 border: 0;   
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: grid;
    grid-template-rows: 100vh;
    background: yellowgreen;

}
.main{
    display: grid;
    grid-template-rows: 100vh;
    
    grid-template-columns: 50fr 50fr;
    grid-template-areas: 'signIn signUp';

}
.signIn{
    grid-area: signIn;
    background: lightseagreen;
    justify-content: flex-start;

}
.signUp{
    grid-area: signUp;
    background: khaki;
    justify-content: flex-start;

}
@media screen and (max-width: 600px){
    .SignInForm{
        flex-flow: column;
    }
    .SignUpForm{
        flex-flow: column;
    }
    
}