*{
 margin: 0px;
 padding: 0px;
 border: 0;   
}
.container{
    display: grid;
    grid-template-rows: 100vh;
    background: yellowgreen;

}
.main{
    display: grid;
    grid-template-rows: 100fr;
    grid-template-columns: 50fr 50fr;
    grid-template-areas: 'signIn signUp';

}
.signIn{
    grid-area: signIn;
    background: lightseagreen;
}
.signUp{
    grid-area: signUp;
    background: khaki;
}
